<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" parallel="true">
    <test name="Full API Test Run">
        <classes>
            <class name="UserTests"/>
            <class name="LoginTests"/>
            <class name="RegisterTests"/>
            <class name="ResourcesTests"/>
        </classes>
    </test>

</suite>
